#map {
    height:512px;
    /* width: 1024px; */
    /* This is restricted by the maximum size of the image from mapbox */
    width: 1280px;
}

.engine {
    margin: auto auto auto auto;
}

.engine_control {
    margin: 20px;
    text-align: center;
    position: relative;
}

form#sign_up_form {
    margin: auto;
    text-align: center;
    position: relative;
}

form#log_in_form {
    margin: auto;
    text-align: center;
    position: relative;
}