{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title> Random Walker Prototype </title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'generateNewDestination/js_script/initialise.js' %}"></script>
    <script src="{% static 'generateNewDestination/js_script/csrf.js' %}"></script>
    <script src="{% static 'generateNewDestination/js_script/calculateZoom.js' %}"></script>

    <script type="text/javascript">
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script type="text/javascript">
      $(function() {
          $("#newLocationButton").click(function() {
              $.ajax({
                  url: "{% url 'generateNewDestination:newDestination' %}",
                  type: "post",
                  //dataType: "json",
                  // Therse is a problem passing float!
                  data: {'lat': parseFloat(homeLocation.lat()), 'lng': parseFloat(homeLocation.lng()), 'dist': 1},
                  success: function(data){
                      document.getElementById("new_location").innerHTML = "New Location is at [" + data[0] + ", " + data[1] + "]"
      		      newDestination = new google.maps.LatLng(parseFloat(data[0]), parseFloat(data[1]))
                      addMarker(newDestination)
                  },
                  fail: function(data){
                      alert("failed")
                  }
               })
         })
      })
    </script>
  </head>
  <body>
    <button type="button", id="newLocationButton">Give Me A New Location!</button>
    <p id="new_location"> Unknown </p>
    <div id="map"></div>
  </body>
</html>
