<!DOCTYPE html>
<html>
  <head>
    <title> This is a test page </title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
function initialize() {
    //Set home location as Auckland if failed to to geolocate
    homeLocation = new google.maps.LatLng(-36.857992, 174.7621796);
    
    var mapOptions = {
	zoom: 8,
	center: homeLocation
    }
    map = new google.maps.Map(document.getElementById('map'),  
			      mapOptions);

    // Try HTML5 geolocation
    if(navigator.geolocation) {
    	navigator.geolocation.getCurrentPosition(function(position) {
    	    homeLocation = new google.maps.LatLng(position.coords.latitude,
    						  position.coords.longitude);
	    
    	    var infowindow = new google.maps.InfoWindow({
    		map: map,
    		position: homeLocation,
    		content: 'Location found using HTML5.'
    	    });
	    
    	    map.setCenter(homeLocation);
    	}, function() {
    	    handleNoGeolocation(true);
    	});
    } else {
    	// Browser doesn't support Geolocation
    	handleNoGeolocation(false);
    }

    function handleNoGeolocation(errorFlag) {
    	if (errorFlag) {
    	    var content = 'Error: The Geolocation service failed.';
    	} else {
    	    var content = 'Error: Your browser doesn\'t support geolocation.';
    	}
    	var options = {
    	    map: map,
    	    position: homeLocation,
    	    content: content
    	};

    	var infowindow = new google.maps.InfoWindow(options);
    	map.setCenter(options.position);
    };
}

function addMarker(location) {
    var mapOptions = {
    	zoom: 7,
    	center: homeLocation
    };

    // Access the map object 
    var map = new google.maps.Map(document.getElementById("map"), 
				  mapOptions);
    
    // Create the marker
    var marker = new google.maps.Marker({
	position: location,
	map: map
    })
    
    // Push the marker to the map
    marker.push(marker);
}

      google.maps.event.addDomListener(window, 'load', initialize);

</script>

    <script type="text/javascript">
      $(function() {
          $("button").click(function() {
              $.ajax({
                  url: "{% url 'generateNewDestination:newDestination' %}",
                  type: "get",
                  success: function(data){
                      // alert(data)
                      //document.getElementById('location').value=data
                      document.getElementById("new_location").innerHTML = data
                      console.log(data)
                      newDestination = new google.maps.LatLng(homeLocation.lat() + data[0], homeLocation.lng() + data[1])
                      console.log(newDestination)
                      addMarker(newDestination)
                  },
                  fail: function(data){
                      alert("failed")
                  }
               })
         })
      })
    </script>
  </head>
  <body>
    <button type="button">Give Me A New Location!</button>
    <p id="new_location"> Unknown </p>
    <div id="map"></div>
  </body>
</html>
