{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title> Random Walker Prototype </title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'generateNewDestination/js_script/initialise.js' %}"></script>
    <script src="{% static 'generateNewDestination/js_script/csrf.js' %}"></script>
    <script src="{% static 'generateNewDestination/js_script/calculateZoom.js' %}"></script>
    <script src="{% static 'generateNewDestination/js_script/getIsWater.js' %}"></script>
    <script src="{% static 'generateNewDestination/js_script/addMarker.js' %}"></script>

    <script type="text/javascript">
      google.maps.event.addDomListener(window, "load", initialise);
    </script>

    <script type="text/javascript">
      $(function() {
          $("#newLocationButton").click(function() {
              $.ajax({
                  url: "{% url 'generateNewDestination:newDestination' %}",
                  type: "post",
                  //dataType: "json",
                  // Therse is a problem passing float!
      data: {'lat': parseFloat(homeLocation.lat()), 'lng': parseFloat(homeLocation.lng()), 'dist': 1, 'zoom': map.getZoom()},
                  success: function(data){
                      document.getElementById("new_location").innerHTML = "New Location is at [" + data[0] + ", " + data[1] + "]"
      		      newDestination = new google.maps.LatLng(parseFloat(data[0]), parseFloat(data[1]))
                      addMarker(newDestination)
                  },
                  fail: function(data){
                      alert("failed")
                  }
               })
         })
      })
    </script>
    <script type="text/javascript">
$(function() {
    $("#isWaterButton").click(function(){
        console.log(mapOptions)
        console.log(param['homeLocation'])
        console.log(homeLocation)
	$.ajax({
	    url: "{%url 'generateNewDestination:isWater' %}",
	    type: "post",
	    data: {'lat': parseFloat(homeLocation.lat()), 'lng':  parseFloat(homeLocation.lng()), 'zoom': mapOptions['zoom']},
	    success: function(data){
                console.log("success")
	    },
	    fail: function(data){
		console.log("action failed")
	    }
	})
    })
})
    </script>
    <script type="text/javascript">
      function test(){
          console.log(map.getBounds());
          console.log(map.getBounds().getNorthEast())
      }
    </script>
  </head>
  <body>
    <button type="button" id="newLocationButton">Give Me A New Location!</button>
    <button type="button" id="isWaterButton"> Get feasible layer! </button>
    <button type="button" id="test" onClick="test();;"> Test button </button>
    <p id="new_location"> Unknown </p>
    <div id="map"></div>
    <!-- <canvas class="map"  width="16" height="16" id="water-map"></canvas> -->
    <!-- <img src="waterImage.png"> -->
    </div>

  </body>
</html>
