{% load static %}
<!DoCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Random Walker </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"> -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'random_walker/js/csrf.js' %}"></script>

    <link rel="stylesheet" href="{% static 'random_walker/css/landing-page.css' %}">
    <link rel="stylesheet" href="{% static 'random_walker/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

    <link rel="stylesheet" href="{% static 'random_walker/css/style.css' %}">
  </head>
  <body>
    Hello Mobile User, page still in development.
  </body>
</html>
