{% extends "random_walker/index.html" %}
<!DOCTYPE html>
<html>
  {% block header %}
  {% endblock header %}
  <body>
    {% block content %}

    <form id="sign_up_form" class="form-horizontal" role="form" action="{% url 'registration:create_user' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div>
	<div class="form-group">
	  <label class="control-label col-sm-2" for="{{field.html_name}}">
	    {{field.label_tag}}
	  </label>

	  <div class="col-sm-7">
	    <input type="text" class="form-control" name="{{field.html_name}}" id="{{field.id_for_label}}" placeholder="{{field.label}}" value="{{field.value|default_if_none:""}}">
	    {{field.errors}}
	  </div>
	</div>
      </div>
      {% endfor %}

      <input type='submit' class="btn btn-success" value="Sign Up">
    </form>
    {% endblock content %}
  </body>
  {% block footnote %}{% endblock footnote %}
</html>
