#map {
    position: relative;
}

.engine {
    margin: auto auto auto auto;
}

.engine_control {
    margin: 20px;
    text-align: center;
    position: relative;
}

form#sign_up_form {
    margin: auto;
    text-align: center;
    position: relative;
}

form#log_in_form {
    margin: auto;
    text-align: center;
    position: relative;
}