{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <header>
      Random Walker Engine
    </header>

    <nav>
      <li> <a href="{% url 'home:index' %}">Home</a> </li>
      <!-- <li> <a href="inspiration">Inspiration</a> </li> -->
      <li> <a href="{% url 'random_walker_engine:index' %}">Random Walker</a> </li>
      <!-- <li> <a href="social">Social</a> </li> -->
      <!-- <li> <a href="trip_planner">Trip Planner</a></li> -->
    </nav>
    <link rel="stylesheet" href="{% static 'osm_implementation/style.css' %}">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'osm_implementation/csrf.js' %}"></script>
    <script src="{% static 'random_walker_engine/generate_new_location.js' %}"></script>
  </head>
  <body>
    <button type="button" id="newLocationButton">Give Me A New Location!</button>
    <section>
      <div id="map" class="engine"></div>
    </section>
  </body>
  <script src="{% static 'random_walker_engine/random_walker_engine.js' %}"></script>
</html>
