{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Random Walker </title>


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"> -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'random_walker/js/csrf.js' %}"></script>

    <link rel="stylesheet" href="{% static 'random_walker/css/landing-page.css' %}">
    <link rel="stylesheet" href="{% static 'random_walker/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">

    <link rel="stylesheet" href="{% static 'random_walker/css/style.css' %}">
  </head>
  <body>


    {% block nav_bar %}
    {% include 'random_walker/nav_bar.html' %}
    {% endblock nav_bar %}

    {% block header %}
    {% include 'random_walker/header.html' %}
    {% endblock header %}

    {% block content %}


    <!-- Header -->
    <!-- <a  name="about"></a> -->
    <!-- <div class="content-section-a"> -->

    <!--   <div class="container"> -->
    <!--     <div class="row"> -->
    <!--       <div class="col-lg-5 col-sm-6"> -->
    <!--         <hr class="section-heading-spacer"> -->
    <!--         <div class="clearfix"></div> -->
    <!--         <h2 class="section-heading"> -->
    <!-- 		Explore the world without an expectation </h2> -->
    <!--         <p class="lead"> Random Walker is a web application -->
    <!-- 		built with an aim to inspire and make exploration -->
    <!-- 		easy. We believe everyone can be an explorer. An -->
    <!-- 		adventure does not need to involve lengthy planning, -->
    <!-- 		remote location and hefty budget; it can be -->
    <!-- 		spontaneous, in a neighboring quarter and minimum -->
    <!-- 		cost.</p> -->
    <!--       </div> -->
    <!--       <\!-- <div class="col-lg-5 col-lg-offset-2 col-sm-6"> -\-> -->
    <!--       <\!--   <img class="img-responsive" src="{% static 'random_walker/img/ipad.png' %}" alt=""> -\-> -->
    <!--       <\!-- </div> -\-> -->
    <!--     </div> -->

    <!--   </div> -->
    <!--   <\!-- /.container -\-> -->
    <!-- </div> -->

    <!-- Footer -->
    {% endblock content %}

    {% block footnote %}
    {% include 'random_walker/footer.html' %}
    {% endblock footnote %}

    {% block additional_scripts %}
    {% endblock additional_scripts%}
  </body>
</html>
