{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 90%;
        margin: 0;
        padding: 0;
      }

    </style>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'random_walker_js/initialize.js' %}"> </script>
    <script src="{% static 'random_walker_js/generateDestination.js' %}"></script>
    <script src="{% static 'random_walker_js/generateExplorerDestination.js' %}"></script>
    <script src="{% static 'random_walker_js/addNewDestination.js' %}"></script>
    <script src="{% static 'random_walker_js/addNewExplorerDestination.js' %}"></script>
    <script src="{% static 'random_walker_js/codeLatLng.js' %}"></script>
    <script src="{% static 'random_walker_js/calcRoute.js' %}"></script>
    <script src="{% static 'random_walker_js/addMarker.js' %}"></script>
    <script src="{% static 'random_walker_js/enterHomeAddress.js' %}"></script>
    <script type="text/javascript">
      var geocoder;
      //var rendererOptions = {
      //    draggable: true
      //};
      //var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
      var directionsDisplay = new google.maps.DirectionsRenderer();
      var directionsService = new google.maps.DirectionsService();

      
      function test(){
          console.log(newDestination);
          newDestination = generateExplorerDestination();
          console.log(newDestination);
          //window.alert(newDestination);
          calcRoute();
      };

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

  </head>
  <body>
    <h1> Random Walker Prototype </h1>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <input id="New Destination!" type="button" value="New Destination!" onClick="addNewDestination();">
    <input id="explorer" type="button" value="I am an Explorer" onClick="addNewExplorerDestination();">
    <input id="test button!" type="button" value="This is the test button!" onClick="test();">
    <div id="map-canvas"></div>
  </body>
</html>
