{% extends "random_walker/index.html" %}
<!DOCTYPE html>
<html>
  {% block header %}
  {% endblock header %}
  <body>
    {% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form id="log_in_form" class="form-horizontal" role="form" action="{% url 'user_action:auth_view' %}" method="POST"> 
      {% csrf_token %}
      <div >

	<div class="form-group">
	  <label class="control-label col-sm-2" for="username">Username:</label>
	  <div class="col-sm-7">
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
	  </div>
	</div>

	<div class="form-group">
	  <label class="control-label col-sm-2" for="password">Password:</label>
	  <div class="col-sm-7">
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
	  </div>
	</div>
        <input type='submit' class="btn btn-success" value="Log In">
      </div>
    </form>

    {% endblock content %}
  </body>
  {% block footnote %}{% endblock footnote %}
</html>

