{% load staticfiles i18n %}
<nav id="nav_bar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand" href="{% url 'home' %}">Random Walker</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
	      <li>
          <a href="{% url 'home' %}#about">About</a>
	      </li>
	      <li>
          <a href="{% url 'home' %}#services">Services</a>
	      </li>
	      <li>
          <a href="{% url 'home' %}#contact">Contact</a>
	      </li>
	      <li> 
	        <a href="{% url 'random_walker_engine:index' %}">Engine</a> 
	      </li>
	      <!-- <li>  -->
	      <!--   <a href="inspiration">Inspiration</a> -->
	      <!-- </li> -->

	      <!-- <li> <a href="social">Social</a> </li> -->
	      <!-- <li> <a href="trip_planner">Trip Planner</a></li> -->
      </ul>

      <ul class="nav navbar-nav pull-xs-right">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
        </li>
        <li class="nav-item">
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
