{% extends 'osm_implementation/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <header>
      {% block header %} Welcome to Random Walker {% endblock %}
    </header>

  </head>

  <body>
    {% block body %}
    <h1 class="statement">
      <p>
	Random Walker is a web application built with an aim to
	inspire and make exploration easy.  
      </p>
      <p>
	We believe everyone can be an explorer. An adventure does not
	need to involve lengthy planning, remote location and hefty
	budget; it can be spontaneous, in a neighboring quarter and
	minimum cost.
      </p>
    </h1>
    {% endblock %}
  </body>

</html>
