<!DOCTYPE html>
<html>


  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title> RW Home </title>
    <header>
      Welcome to Random Walker
    </header>
    <nav>
      <li> <a href="{% url 'home:index' %}">Home</a> </li>
      <li> <a href="inspiration.html">Inspiration</a> </li>
      <li> <a href="{% url 'random_walker_engine:index' %}">Random Worker</a> </li>
      <li> <a href="social.html">Social</a> </li>
      <li> <a href="trip_planner">Trip Planner</a></li>
    </nav>
    <h1 class="statement">
      <p>
	Random Walker is a web application built with an aim to
	inspire and make exploration easy.  
      </p>
      <p>
	We believe everyone can be an explorer. An adventure does not
	need to involve lengthy planning, remote location and hefty
	budget; it can be spontaneous, in a neighboring quarter and
	minimum cost.
      </p>
    </h1>
  </head>

  <body>
    
  </body>

</html>
