{% extends 'osm_implementation/base.html' %}
<!DOCTYPE html>
<html>
  <head>
    <header>
      {% block header %} Sign up {% endblock %}
    </header>
  </head>
  <body>
    {% block body %}
    This is the sign up page
    <!-- {% if form.errors %} -->
    <!--     <p>Your username and password didn't match. Please try again.</p> -->
    <!-- {% endif %} -->

    <form action="{% url 'user_profile:create_user' %}" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>

      <input type="submit" value="signup" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    {% endblock %}
  </body>
</html>
